In [1]:
# Install PySpark using pip
# !pip install pyspark

## Setting Up the Environment

In [3]:
from pyspark.sql import SparkSession

In [4]:
import os

# Set environment variables for PySpark
os.environ['PYSPARK_PYTHON'] = 'python'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'python'

In [5]:
# Initialize Spark Session in local mode
spark = SparkSession.builder \
    .appName("PySpark Learning") \
    .master("local[*]") \
    .config("spark.network.timeout", "600s") \
    .config("spark.executor.heartbeatInterval", "60s") \
    .getOrCreate()

# Verify the Spark Session
print("Spark Version:", spark.version)

Spark Version: 3.5.1

## Working with RDDs

RDDs are the low-level data structures in Spark. Let's create and perform operations on RDDs.

In [8]:
# Create an RDD
data = [1, 2, 3, 4, 5]
rdd = spark.sparkContext.parallelize(data)

# Perform transformations and actions
rdd_squared = rdd.map(lambda x: x * x)
print(rdd_squared.collect())

[1, 4, 9, 16, 25]

## Creating and Manipulating DataFrames

In [16]:
from pyspark import Row

In [22]:
# create dataframe
data = [("Datta", 25), ("Poonam", 29), ("Jyoti", 31), ("Swati", 32), ("Nilam", 33)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)
df.show()

+------+---+
|  Name|Age|
+------+---+
| Datta| 25|
|Poonam| 29|
| Jyoti| 31|
| Swati| 32|
| Nilam| 33|
+------+---+

In [24]:
# Perform transformations
df_filtered = df.filter(df["Age"] > 30)
df_filtered.show()

+-----+---+
| Name|Age|
+-----+---+
|Jyoti| 31|
|Swati| 32|
|Nilam| 33|
+-----+---+

In [26]:
# Group and aggregate
df_grouped = df.groupBy("Age").count()
df_grouped.show()

+---+-----+
|Age|count|
+---+-----+
| 25|    1|
| 29|    1|
| 31|    1|
| 32|    1|
| 33|    1|
+---+-----+

## Reading Data from a CSV File

In [29]:
df_csv = spark.read.csv(r"C:\Users\datta\OneDrive\Desktop\Predixion.ai Data Engineer Assignment\5k_borrowers_data.csv", 
                        header=True, 
                        inferSchema=True)

In [42]:
df_csv.show()

+-------------------+--------------------+----------+--------------+-------------+--------------------+--------------------+-------------------+---------------------+----------------+---------------+--------------------+--------------------+--------------------+-----------------+--------+---------------+--------------------+--------------------+----------------------------+---------------+
|               Name|       Date of Birth|    Gender|Marital Status| Phone Number|       Email Address|     Mailing Address|Language Preference|Geographical Location|    Credit Score|      Loan Type|         Loan Amount|           Loan Term|       Interest Rate|     Loan Purpose|     EMI|     IP Address|         Geolocation|   Repayment History|Days Left to Pay Current EMI|Delayed Payment|
+-------------------+--------------------+----------+--------------+-------------+--------------------+--------------------+-------------------+---------------------+----------------+---------------+--------------------+--------------------+--------------------+-----------------+--------+---------------+--------------------+--------------------+----------------------------+---------------+
|       Khushi Balan|          19-02-1986|      Male|        Single|   2169182416| xbhakta@example.com|29/74, Mander, Ku...|            Marathi|              Danapur|             491|      Auto Loan|               34398|                  15|                0.16|Medical Emergency| 2545.36|   10.65.217.95|-49.3275015, 58.0...|[{'Payment Date':...|                           2|             No|
|   Umang Chatterjee|          13-08-1980|      Male|       Married|   4521712306| ivaidya@example.org|              73/885|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|        Sharma Marg|                NULL|      NULL|          NULL|         NULL|                NULL|                NULL|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|    Solapur 386449"|           Malayalam| Bangalore|           325|Personal Loan|               96856|                   9|                0.2|      Home Renovation|        11678.35|192.168.179.132|14.951437, -136.4...|[{'Payment Date':...|                   4|              Yes|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|         Adira Dara|          05-08-1995|    Female|       Widowed|   4615155004|loyalvihaan@examp...|           H.No. 468|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|         Raval Zila|                NULL|      NULL|          NULL|         NULL|                NULL|                NULL|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|     Nanded 490253"|           Malayalam|   Bijapur|           624|    Auto Loan|               91301|                  10|               0.16|      Home Renovation|         9812.94|  10.166.34.134|64.013123, 175.27...|[{'Payment Date':...|                   7|               No|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|         Anvi Saini|          16-11-2001|      Male|       Married|+914836846677|   tgaba@example.org|04/25, Mandal Pat...|           Gujarati|                Korba|             346|      Home Loan|               78981|                  14|                0.28|   Education Fees| 6678.01| 10.107.161.197|-11.6130395, 37.5...|[{'Payment Date':...|                           7|            Yes|
|        Kartik Kade|          09-07-1979|      Male|       Widowed|+910186397558|sanakaur@example.net|55/13, Srivastava...|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|     Raipur-801775"|           Malayalam|    Jorhat|           321|    Home Loan|               89953|                   1|               0.29|     Wedding Expenses|        92126.86| 192.168.255.28|-71.7186905, 49.3...|                  []|                  11|               No|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|       Rohan Sekhon|          31-07-1980|      Male|       Widowed|  05864147671|   orama@example.org|   53/19, Lal Street|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|Pondicherry-688297"|               Hindi|Davanagere|           760|    Auto Loan|               14147|                   2|               0.29|      Home Renovation|         7330.93|   10.56.169.62|46.0948625, 4.226201|[{'Payment Date':...|                   9|               No|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|     Purab Randhawa|          19-10-1966|    Female|        Single|  05187626325|mandaarnav@exampl...|               89/03|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|        Krish Nagar|                NULL|      NULL|          NULL|         NULL|                NULL|                NULL|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|  Ambarnath-455869"|             English|   Lucknow|           658|Personal Loan|               69922|                  10|               0.29|      Home Renovation|         7954.84|  10.177.235.49|-2.3971695, -31.6...|[{'Payment Date':...|                   6|              Yes|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|      Vardaniya Roy|          03-08-1998|    Female|       Widowed|  03958629885|sanghavidur@examp...|H.No. 35, Rege Pa...|            Marathi|             Thrissur|             441|  Personal Loan|               75349|                   6|                0.15|Medical Emergency|13113.27| 172.17.100.164|78.914761, -43.07...|[{'Payment Date':...|                           7|            Yes|
|          Piya Ravi|          06-10-2001|      Male|      Divorced|+913408234563| ivana98@example.org|H.No. 239, Ben Ga...|              Tamil|           Berhampore|             355|      Auto Loan|               68574|                  13|                0.28|Medical Emergency| 6176.18|192.168.218.223|19.605321, 75.110705|[{'Payment Date':...|                          14|            Yes|
|   Rati Swaminathan|          01-01-1992|    Female|       Widowed|  07508064439|ivansoman@example...|               63/29|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
|    Srivastava Zila| Bidhannagar-812274"|   English|      Amritsar|          502|           Home Loan|               39789|                 10|                 0.26|Wedding Expenses|        4468.29|     192.168.244.120|-35.8522285, -162...|[{'Payment Date':...|                1|      No|           NULL|                NULL|                NULL|                        NULL|           NULL|
|         Aaina Mani|          02-01-1960|    Female|       Married|  02344611182|  vdugar@example.net|        34/31, Dugar|               NULL|                 NULL|            NULL|           NULL|                NULL|                NULL|                NULL|             NULL|    NULL|           NULL|                NULL|                NULL|                        NULL|           NULL|
+-------------------+--------------------+----------+--------------+-------------+--------------------+--------------------+-------------------+---------------------+----------------+---------------+--------------------+--------------------+--------------------+-----------------+--------+---------------+--------------------+--------------------+----------------------------+---------------+
only showing top 20 rows

In [39]:
# pd_df= df_csv.toPandas()
# pd_df

## Using Spark SQL

In [45]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

# Run SQL queries
sql_df = spark.sql("SELECT Name, Age FROM people WHERE Age > 30")
sql_df.show()

+-----+---+
| Name|Age|
+-----+---+
|Jyoti| 31|
|Swati| 32|
|Nilam| 33|
+-----+---+

## Machine Learning with PySpark

In [52]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

# Prepare a larger dataset
data = [(i, 2.0 * i) for i in range(1, 101)]
columns = ["x", "y"]
df_ml = spark.createDataFrame(data, columns)

# Create feature vector
assembler = VectorAssembler(inputCols=["x"], outputCol="features")
df_ml = assembler.transform(df_ml)

# Split the data
train_data, test_data = df_ml.randomSplit([0.7, 0.3])

# Check the counts of train and test datasets
print("Training Data Count: ", train_data.count())
print("Test Data Count: ", test_data.count())

# Create and train the model
lr = LinearRegression(featuresCol="features", labelCol="y")
lr_model = lr.fit(train_data)

# Evaluate the model
predictions = lr_model.transform(test_data)
predictions.select("features", "y", "prediction").show()

Training Data Count:  73
Test Data Count:  27
+--------+-----+----------+
|features|    y|prediction|
+--------+-----+----------+
|   [2.0]|  4.0|       4.0|
|   [5.0]| 10.0|      10.0|
|  [17.0]| 34.0|      34.0|
|  [19.0]| 38.0|      38.0|
|  [22.0]| 44.0|      44.0|
|  [23.0]| 46.0|      46.0|
|  [24.0]| 48.0|      48.0|
|  [27.0]| 54.0|      54.0|
|  [32.0]| 64.0|      64.0|
|  [39.0]| 78.0|      78.0|
|  [50.0]|100.0|     100.0|
|  [51.0]|102.0|     102.0|
|  [52.0]|104.0|     104.0|
|  [54.0]|108.0|     108.0|
|  [58.0]|116.0|     116.0|
|  [65.0]|130.0|     130.0|
|  [67.0]|134.0|     134.0|
|  [69.0]|138.0|     138.0|
|  [71.0]|142.0|     142.0|
|  [72.0]|144.0|     144.0|
+--------+-----+----------+
only showing top 20 rows